body {
  background-color: black;
  margin: 0;
  overflow: hidden;
}

.column {
  display: inline-block;
  width: 12px;
  height: 100vh;
}

.column div {
  width: 12px;
  height: 12px;
  color: rgb(17, 202, 17);
  font-family: "Courier New", monospace;
  font-size: 10px;
  line-height: 10px;
}

* {
  outline: black 1px dotted;
}
